body {
    font-family: sans-serif;
  }

  th{ 
    text-align: center;
    font-family: sans-serif;
        }


table{
    text-align: center;
    font-family: sans-serif;
}

h1{
    font-family: sans-serif;
}